/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
storage/installed
public/js/client
public/assets/common/img/logo/*
!public/assets/common/img/logo/.gitkeep
!public/assets/common/img/logo/default.png
public/assets/common/img/favicon/*
!public/assets/common/img/favicon/.gitkeep
!public/assets/common/img/favicon/default.png
public/assets/common/img/meta-image/*
!public/assets/common/img/meta-image/.gitkeep
public/assets/common/img/avatar/*
!public/assets/common/img/avatar/.gitkeep
!public/assets/common/img/avatar/default.png
public/assets/common/img/cover/*
!public/assets/common/img/cover/.gitkeep
!public/assets/common/img/cover/default.png
public/assets/common/cv/*
!public/assets/common/cv/.gitkeep
!public/assets/common/cv/default.png
public/assets/common/img/projects/*
!public/assets/common/img/projects/.gitkeep
public/mix-manifest.json
