/* Open Sans regular */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Open Sans light */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Open Sans bold */
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Maven Pro */
@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/MavenPro/MavenPro-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Maven Pro bold */
@font-face {
    font-family: "Maven Pro";
    src: url("../fonts/MavenPro/MavenPro-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    /* font family */
    --font-family: 'Maven Pro', sans-serif;
    --font-size: 14px;

    /* accent color */
    --z-accent-color: #0168fa;
    --z-accent-color-rgba: rgba(1, 104, 250, 1);
    --z-accent-color-light-dark:  rgba(1, 104, 250, .8);
    --z-accent-color-light:  rgba(1, 104, 250, .5);
    --z-accent-color-lighter:  rgba(1, 104, 250, .3);
    --z-accent-color-lightest:  rgba(1, 104, 250, .1);

    --z-content-bg: #f1f1f1;

    /* navbar */
    --z-navbar-height: 60px;
    --z-navbar-bg: #fff;
    --z-navbar-color: #494a4c;
    --z-navbar-brand-bg: var(--z-sidebar-bg);

    /* sidebar */
    --z-sidebar-width: 200px;
    --z-short-sidebar-width: 60px;
    --z-sidebar-bg: #fff;
    --z-sidebar-menu-color: #3e4b5b;
    --z-sidebar-submenu-color: var(--z-sidebar-menu-color);
    --z-sidebar-icon-color: var(--z-sidebar-menu-color);
    --z-short-sidebar-hover-menu-bg: var(--z-sidebar-bg);
    --z-short-sidebar-hover-submenu-bg: var(--z-sidebar-bg);
    --z-sidebar-hover-menu-bg: var(--z-accent-color-light);
    --z-sidebar-active-menu-bg: var(--z-sidebar-bg);
    --z-sidebar-active-menu-color: var(--z-accent-color);
    --z-sidebar-active-icon-color: var(--z-accent-color);

    --z-avatar: '';
    --filepond--drop-label: '';
}


::-webkit-scrollbar-track {
   /* border-radius: 0px; */
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

* {
  scrollbar-width: thin;
  /* scrollbar-color: darkgrey #F5F5F5; */
}

@media screen and (min-width: 966px) {
  ::-webkit-scrollbar, .scroller {
    width: 8px;
    height: 8px;
    background-color: #f1f1f1;
  }
}
 
::-webkit-scrollbar-thumb {
    /* border-radius: 0px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
   background-color: #888;
   border-radius: 10px;
}

html, body {
    font-family: var(--font-family);
    /* font-size: var(--font-size); */
}

.accentColor, .accentActiveColor {
  color: var(--z-accent-color) !important;
}

.accentBg {
  Background: var(--z-accent-color) !important;
}

.accentLightBg {
  Background: var(--z-accent-color-light) !important;
}

.accentLightDarkBg {
  Background: var(--z-accent-color-light-dark) !important;
}

.accentLighterBg {
  Background: var(--z-accent-color-lighter) !important;
}

.accentLightestBg {
  Background: var(--z-accent-color-lightest) !important;
}

.accentBorder {
    border-color: var(--z-accent-color) !important;
    box-shadow: none;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none;
}

.accentInactiveColor {
    color: var(--z-accent-color-light) !important;
}

.accentInactiveBg {
    background: var(--z-accent-color-light) !important;
}

/* **************************** button starts **************************** */

.accentButton, .accentButton:hover {
  color: #fff;
  background-color: var(--z-accent-color);
  border-color: var(--z-accent-color);
}

.accentButtonOutline {
    color: var(--z-accent-color);
    border-color: var(--z-accent-color);
}

.accentButtonOutline:hover {
    color: #fff;
    background-color: var(--z-accent-color);
    border-color: var(--z-accent-color);
}

.accentButton.dark:hover {
  color: #001737;
}

button:focus {
    outline: none;
}


/* **************************** button ends **************************** */



/* **************************** misc starts **************************** */

.accentBoxShadow, .accentHoverable:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,.05), 0 4px 10px var(--z-accent-color-light);
}

.modal-header {
    padding: .5rem 1rem;
}

.z-font-system-ui {
  font-family: system-ui;
}

.z-square {
    border-radius: 0;
}

.z-card {
  padding: 1.5rem;
}

.z-shadow, .z-card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
}


.z-icon {
	 width: 25px;
	 height: 25px;
	 border: 1px solid #a8a4d6;
	 border-radius: 50%;
	 text-align: center;
}
 .z-icon i {
	 line-height: 23px;
	 color: #a8a4d6;
	 font-size: 16px;
}
 .z-edit i:hover {
	 transform: rotate(180deg);
}
 .z-edit i {
	 text-decoration: none;
	 width: 20px;
	 height: 20px;
	 font-size: 10px;
	 line-height: 20px;
	 text-align: center;
	 border-radius: 50%;
	 padding: 0;
	 border: 0;
	 cursor: pointer;
	 background-color: #ddd;
	 margin-left: 5px;
	 opacity: 0.7;
	 flex-shrink: 0;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}


.z-divider {
    margin-top: 50px;
    margin-bottom: 40px;
}

/* **************************** misc ends **************************** */



/* **************************** z-switch starts **************************** */

.z-switch {
    --z-switch-ball-bg: var(--z-accent-color);
    --z-switch-checked-bg: var(--z-accent-color);
    --z-switch-border-color: var(--z-accent-color);
    --z-switch-hover-border-color: transparent;
    --z-switch-disabled-checked-bg: transparent;
    --z-switch-width: 41px;
    --z-switch-height: 21px;
    --z-switch-bg: white;
    --z-switch-radius: 12px;
    --z-switch-ball-width: 15px;
    --z-switch-ball-bg: #d7d7f4;
    --z-switch-checked-ball-bg: white;
    --z-switch-border-color: #d7d7f4;
    --z-switch-hover-border-color: #d7d7f4;
    --z-switch-checked-bg: var(--z-accent-color);
    --z-switch-disabled-bg: var(--secondary-color-lighter);
    --z-switch-disabled-checked-bg: var(--secondary-color-darker);
    position: relative;
    width: var(--z-switch-width);
    height: var(--z-switch-height);
    background: var(--z-switch-bg);
    border: 1px solid var(--z-switch-border-color);
    border-radius: var(--z-switch-radius);
    cursor: pointer;
    transition: .3s;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.z-switch:focus {
    outline: none;
}

.z-switch:checked {
    --z-switch-border-color: var(--z-accent-color);
    background: var(--z-accent-color);
}

.z-switch:checked::before {
    --z-switch-ball-bg: var(--z-switch-checked-ball-bg);
    transform: translateX(20px);
}

.z-switch::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: var(--z-switch-ball-width);
    height: var(--z-switch-ball-width);
    background: var(--z-switch-ball-bg);
    border-radius: 50%;
    transition: .3s;
}

.z-switch:disabled {
    --z-switch-bg: var(--z-switch-disabled-bg);
    --z-switch-checked-bg: var(--z-switch-disabled-checked-bg);
}

.z-switch:disabled:checked {
    --z-switch-border-color: #d7d7f4;
    background: #d7d7f4;
}
/* **************************** z-switch ends **************************** */


/* **************************** z-tab starts **************************** */
.z-tab-wrapper .nav-tabs {
	border-bottom: none;
    width: 17%;
    float: left;
}

.z-tab-wrapper .tab-content {
    width: calc(100% - 17%);
    float: left;
    border-left: 1px solid #ddd;
}
.z-tab-wrapper .nav-item {
	 margin-right: 18px;
	 margin: 5px 5px;
     width: 85%;
}

 .z-tab-wrapper .nav-item .nav-link {
	 font-size: 0.7rem;
	 border-radius: 4px;
	 border: 1px solid #dbdbdb;
	 transition: all 0.4s;
	 display: flex;
	 align-items: center;
	 font-weight: 600;
	 text-transform: uppercase;
	 letter-spacing: 0.4px;
	 background-color: #313030;
	 color: #fff;
}
.z-tab-wrapper .nav-item .nav-link.active {
	 background-color: #fff;
     color: #313030;
}

/* **************************** z-tab ends **************************** */

.z-container-scroller {
    overflow: hidden;
}

/* .z-navbar.fixed-top + .z-page-body-wrapper {
padding-top: var(--z-navbar-height);
} */

.z-page-body-wrapper {
    min-height: calc(100vh - var(--z-navbar-height));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

.z-container-fluid {
    width: 100%;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    margin-right: auto;
    margin-left: auto;
}

.z-main-panel {
    -webkit-transition: width 0.25s ease, margin 0.25s ease;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - var(--z-sidebar-width));
    min-height: calc(100vh - var(--z-navbar-height));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.z-description {
    color: #6c757d!important;
    font-size: 12px;
}

.z-content-wrapper {
    background: var(--z-content-bg);
    padding: 2.25rem 2.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.z-main-panel .footer {
    background: var(--z-content-bg);
}


@media (min-width: 992px) {
    .z-sidebar-icon-only .z-main-panel {
        width: calc(100% - var(--z-short-sidebar-width));
    }
}

@media (max-width: 991px) {
    .z-main-panel {
        margin-left: 0;
        width: 100%;
    }

    .z-content-wrapper {
      padding: 1.25rem 1.25rem;
    }

    .z-tab-wrapper .nav-tabs {
        width: 100%;
        float: unset;
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .z-tab-wrapper .tab-content {
        border-left: none;
        width: 100%;
    }

    .z-tab-wrapper .nav-item {
        width: 100%;
    }

}


/* **************************** z-navbar starts **************************** */
/* default starts */
.z-navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.z-navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.z-navbar .z-navbar-brand {
    width: 110px;
}

.z-navbar .z-navbar-brand-wrapper .z-navbar-brand img {
    width: 100%;
    max-height: 58px;
    margin: auto;
    vertical-align: middle;
}

.z-navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.z-navbar-toggler-left {
    padding: 0.25rem 1.2rem;
}

.z-navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.z-nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.z-nav-link:hover {
    text-decoration: none;
}

.z-navbar-nav .z-nav-link {
    padding-right: 0;
    padding-left: 0;
}

/* default ends */


.z-navbar {
    background: var(--z-navbar-bg);
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
}

.z-navbar .z-navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: var(--z-navbar-brand-bg);
    width: var(--z-sidebar-width);
    height: var(--z-navbar-height);
}

.z-navbar .z-navbar-brand-wrapper .z-navbar-brand {
    color: #27367f;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    padding: .25rem 0;
    width: 100%;
}

.z-navbar .z-navbar-brand-wrapper .z-navbar-brand.z-brand-logo-mini {
    display: none;
}

.z-navbar .z-navbar-brand-wrapper .z-navbar-brand.z-brand-logo-mini img {
    width: calc(var(--z-short-sidebar-width)- 50px);
    max-width: 100%;
    height: 28px;
    margin: auto;
}

.z-navbar .z-navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: var(--z-navbar-color);
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - var(--z-sidebar-width));
    height: var(--z-navbar-height);
}

.z-navbar .z-navbar-toggler {
    border: 0;
    height: var(--z-navbar-height);
    border-radius: 0px;
}

.z-navbar .z-navbar-toggler-right {
    padding-left: 5px;
    padding-right: 20px;
}

.z-navbar-toggler:focus {
    outline: none;
}

.z-navbar .z-navbar-menu-wrapper .z-navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.z-navbar .z-navbar-menu-wrapper .z-navbar-nav .z-nav-item .z-nav-link {
    color: inherit;
    font-size: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: var(--z-navbar-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.z-navbar .z-navbar-menu-wrapper .z-navbar-nav .z-nav-item .z-nav-link i {
    font-size: 1.25rem;
}

.z-navbar .z-navbar-menu-wrapper .z-navbar-nav .z-nav-item.dropdown .dropdown-menu {
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #ebedf2;
}

/* media queries starts */
@media (min-width: 992px) {
    .z-navbar .z-navbar-menu-wrapper .z-navbar-nav.z-navbar-nav-right {
        margin-left: auto;
    }

    .z-sidebar-icon-only .z-navbar .z-navbar-brand-wrapper {
        width: var(--z-short-sidebar-width);
    }

    .z-sidebar-icon-only .z-navbar .z-navbar-brand-wrapper .z-brand-logo {
        display: none;
    }

    .z-sidebar-icon-only .z-navbar .z-navbar-brand-wrapper .z-brand-logo-mini {
        display: inline-block;
    }

    .z-sidebar-icon-only .z-navbar .z-navbar-menu-wrapper {
        width: calc(100% - var(--z-short-sidebar-width));
    }

    .z-navbar .z-navbar-menu-wrapper {
        box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    }
}

@media (max-width: 991px) {
    .z-navbar {
        box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    }

    .z-navbar .z-navbar-brand-wrapper {
        width: 75px;
        background: var(--z-navbar-bg);
    }

    .z-navbar .z-navbar-brand-wrapper .z-navbar-brand.z-brand-logo {
        display: none;
    }

    .z-navbar .z-navbar-brand-wrapper .z-navbar-brand.z-brand-logo-mini {
        display: inline-block;
    }

    .z-navbar .z-navbar-menu-wrapper {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .z-navbar .z-navbar-toggler:not(.z-navbar-toggler-right) {
        display: none;
    }

    .z-navbar .z-navbar-toggler-right {
        padding-left: 15px;
        padding-right: 11px;
        border-right: none;
    }
}

@media (max-width: 480px) {
    .z-navbar .z-navbar-brand-wrapper {
        width: 55px;
    }
}

@media (max-width: 767px) {
    .z-navbar .z-navbar-menu-wrapper .z-navbar-nav .z-nav-item .z-nav-link {
        margin-left: .8rem;
        margin-right: .8rem;
    }
}

/* media queries ends */

/* **************************** z-navbar ends **************************** */




/* **************************** z-sidebar starts **************************** */

/* default starts */
.z-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.z-sidebar .z-nav .z-nav-item {
    padding: 0 2.25rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}

.z-sidebar .z-nav .z-nav-item .z-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;
    color: var(--z-sidebar-menu-color);
    -webkit-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
}

.collapse:not(.show) {
    display: none;
}

/* default ends */

.z-sidebar {
    min-height: calc(100vh - var(--z-navbar-height));
    background: var(--z-sidebar-bg);
    padding: 5px 0px 0px 0px;
    width: var(--z-sidebar-width);
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

.z-sidebar .z-nav {
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: var(--z-navbar-height);
}

.z-sidebar .z-nav .z-nav-item {
    padding: 0 2.25rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}

.z-sidebar .z-nav .z-nav-item.active {
    background: var(--z-sidebar-active-menu-bg);
}

.z-sidebar .z-nav .z-nav-item.z-nav-profile .z-nav-link {
    height: auto;
    line-height: 1;
    border-top: 0;
    padding: 1.25rem 0;
}

.z-sidebar .z-nav .z-nav-item.z-nav-profile .z-nav-link .z-nav-profile-image {
    width: 44px;
    height: 44px;
}

.z-sidebar .z-nav .z-nav-item.z-nav-profile .z-nav-link .z-nav-profile-image img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.z-sidebar .z-nav .z-nav-item.z-nav-profile .z-nav-link .z-nav-profile-text {
    margin-left: 1rem;
}

.z-sidebar .z-nav .z-nav-item.z-nav-profile .z-nav-link .z-nav-profile-badge {
    font-size: 1.125rem;
    margin-left: auto;
}

.z-sidebar .z-nav .z-nav-item .z-nav-link .z-menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-arrow {
    font: normal normal normal 24px/1 "Material Design Icons";
    line-height: 1;
    font-size: 1.125rem;
    margin-left: auto;
    color: var(--z-sidebar-icon-color);
}

.z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-arrow:before {
    content: "\f142";
    font-size: inherit;
    color: inherit;
}

.z-sidebar .z-nav .z-nav-item .z-nav-link[aria-expanded="true"] .z-menu-arrow:before {
    content: "\f140";
}

.z-sidebar .z-nav.z-sub-menu .z-nav-item .z-nav-link:before {
    content: "\F054";
    font-family: "Material Design Icons";
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: var(--z-sidebar-icon-color);
    font-size: .75rem;
}

.z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-arrow+.z-menu-icon {
    margin-left: .25rem;
}

.z-sidebar .z-nav .z-nav-item .collapse {
    z-index: 999;
}

.z-sidebar .z-nav.z-sub-menu {
    margin-bottom: 20px;
    margin-top: 0;
    list-style: none;
}

.z-sidebar .z-nav .z-nav-item {
    padding: 0 1.25rem;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
}

.z-sidebar .z-nav.z-sub-menu .z-nav-item {
    padding: 0;
}

.z-sidebar .z-nav.z-sub-menu .z-nav-item .z-nav-link {
    color: var(--z-sidebar-submenu-color);
    padding: 0.75rem 2rem 0.75rem 2rem;
    position: relative;
    font-size: 0.8125rem;
    line-height: 1;
    height: auto;
    border-top: 0;
}

.z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    color: var(--z-sidebar-icon-color);
}

.z-sidebar > .z-nav > .z-nav-item:hover {
    background: var(--z-sidebar-hover-menu-bg);
}

.z-hover-open .collapse .z-sub-menu .z-nav-item:hover {
    background: unset;
}

.z-sidebar .z-nav .z-nav-item.active>.z-nav-link, 
.z-sidebar .z-nav .z-nav-item.active>.z-nav-link i,
.z-sidebar .z-nav.z-sub-menu .z-nav-item .z-nav-link.active {
    color: var(--z-sidebar-active-menu-color);
}

.z-sidebar .z-nav .z-nav-item:hover.active>.z-nav-link, 
.z-sidebar .z-nav .z-nav-item:hover.active>.z-nav-link i,
.z-sidebar .z-nav .z-nav-item.active .z-nav.z-sub-menu .z-nav-item:hover .z-nav-link.active {
    color: var(--z-sidebar-menu-color) !important;
}



/* media queries starts */
@media (min-width: 992px) {
    .z-sidebar-icon-only .z-sidebar {
        width: var(--z-short-sidebar-width);
    }

    .z-sidebar-icon-only .z-sidebar .nav {
        overflow: visible;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item {
        position: relative;
        padding: 0;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link[aria-expanded] .z-menu-title {
        border-radius: 0 5px 0 0px;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link .z-menu-title {
        border-radius: 0 5px 5px 0px;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link .z-menu-title,
    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link .badge,
    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link .z-menu-sub-title {
        display: none;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link {
        display: block;
        text-align: center;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-arrow {
        display: none;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-icon {
        margin-right: 0;
        margin-left: 0;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .collapse {
        display: none;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav.z-sub-menu {
        padding: 0 0 0 1.5rem;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav {
        overflow: visible;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item {
        position: relative;
        padding: 0;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav.z-sub-menu .z-nav-item .z-nav-link {
        text-align: left;
        padding-left: 20px;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item .z-nav-link i.z-menu-icon {
        margin-right: 0;
        margin-left: 0;
    }


    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item.z-hover-open .z-nav-link .z-menu-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: var(--z-short-sidebar-hover-menu-bg);
        padding: 0.5rem 1.4rem;
        left: var(--z-short-sidebar-width);
        position: absolute;
        text-align: left;
        top: 0;
        bottom: 0;
        width: 190px;
        z-index: 1;
        line-height: 1.8;
    }

    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item.z-hover-open .collapse,
    .z-sidebar-icon-only .z-sidebar .z-nav .z-nav-item.z-hover-open .collapsing {
        display: block;
        padding: .5rem 0;
        background: var(--z-short-sidebar-hover-submenu-bg);
        border-radius: 0 0 5px 0;
        position: absolute;
        left: var(--z-short-sidebar-width);
        width: 190px;
    }
}

@media screen and (max-width: 991px) {
    .z-sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - var(--z-navbar-height));
        top: var(--z-navbar-height);
        bottom: 0;
        overflow: auto;
        right: calc(-1 * var(--z-sidebar-width));
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .z-sidebar-offcanvas.active {
        right: 0;
    }
}

/* media queries ends */

/* **************************** z-sidebar ends **************************** */



/* **************************** z-table-responsive starts **************************** */

 .z-table-responsive table {
	 border-collapse: collapse;
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 table-layout: fixed;
     font-size: 14px;
}
 .z-table-responsive table caption {
	 font-size: 1.5em;
	 margin: 0.5em 0 0.75em;
}
 .z-table-responsive table tr {
	 background-color: #f8f8f8;
	 padding: 0.35em;
}

 .z-table-responsive table th, .z-table-responsive table td {
	 padding: 0.625em;
	 text-align: center;
     border-top: none;
    vertical-align: middle;
}
 .z-table-responsive table th {
	 font-size: 0.85em;
	 letter-spacing: 0.1em;
	 text-transform: uppercase;
}
 @media screen and (max-width: 600px) {
	 .z-table-responsive table {
		 border: 0;
	}
	 .z-table-responsive table caption {
		 font-size: 1.3em;
	}
	 .z-table-responsive table thead {
		 border: none;
		 clip: rect(0 0 0 0);
		 height: 1px;
		 margin: -1px;
		 overflow: hidden;
		 padding: 0;
		 position: absolute;
		 width: 1px;
	}
	 .z-table-responsive table tr {
		 border-bottom: 3px solid #ddd;
		 display: block;
		 margin-bottom: 0.625em;
	}
	 .z-table-responsive table td {
		 border-bottom: 1px solid #ddd;
		 display: block;
		 font-size: 0.8em;
		 text-align: right;
	}
	 .z-table-responsive table td::before {
		/* * aria-label has no advantage, it won't be read inside a table content: attr(aria-label);
		 */
		 content: attr(data-label);
		 float: left;
		 font-weight: bold;
		 text-transform: uppercase;
         padding-right: 8px;
	}
	 .z-table-responsive table td:last-child {
		 border-bottom: 0;
	}
}

/* **************************** z-table-responsive ends **************************** */


/* **************************** z-table-fade starts **************************** */

.z-table-fade td {
	 transition: all 300ms;
}
 .z-table-fade tbody:hover td {
	 color: transparent;
	 text-shadow: 0 0 3px #aaa;
}
 .z-table-fade tbody:hover tr:hover td {
	 color: #444;
	 text-shadow: 0 1px 0 #fff;
}
 
/* **************************** z-table-fade ends **************************** */

.reactive-btn-wrapper, .reactive-btn {
    --reactive-button-primary-color: var(--z-accent-color-rgba) !important;
    --reactive-progress-outline-primary-color: var(--z-accent-color-light) !important;
}


/* custom starts */
.progress-bar {
    background-color: var(--z-accent-color);
}

.fixed-top {
    z-index: 999;
}

@media screen and (max-width: 991px) {
    .ant-pro-table-list-toolbar-title {
        padding-right: 13px;
    }
}

.anticon svg {
    vertical-align: unset;
}

.z-image-loader {
    background: ghostwhite;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    display: inline-flex;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/* custom ends */

